/* Reset + Vollbild */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    overflow: hidden;
}

/* Hauptfläche */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001b00;
    animation: screenFlicker 0.12s infinite;
}

/* Text */
.message {
    color: #33ff33;
    font-family: Consolas, "Courier New", monospace;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow:
        0 0 5px #00ff00,
        0 0 15px #00aa00;
    animation: textFlicker 0.08s infinite;
    z-index: 2;
}
